* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.link:hover {
    background-color: #2f2f2f;
}

.header {
    width: 100%;
    background-color: #212121;
    display: flex;
    align-items: center;
}